main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color:	#c69edd;
  padding: 2rem; 
  border-radius: 5px;
  border: 5px solid #1e192a;
}

.modal input {
  height: 1.5rem;
}

.button-list {
  display: flex;
  justify-content: space-between;
}

.button-list button {
  background-color: deepskyblue;
  padding: .5rem;
  border: 2px solid purple;
  border-radius: 6px;
  min-width: 3rem;
}
